html
  font-family 'Helvetica Neue', Helvetica, Arial, 'PingFang SC', 'Hiragino Sans GB', 'Heiti SC', 'Microsoft YaHei', 'WenQuanYi Micro Hei', sans-serif
  font-size: 62.5%

body
  font-size: 1.4rem /*1.4 × 10px = 14px */

*
  padding 0
  margin 0
li
  list-style none

textarea
  -webkit-appearance none

rem($px)
    return  $px/12 * 1rem